<div class="company-policy-container">
    <h2>Company Policies</h2>
    <p>Click on the policy to view more details:</p>
    <ul class="policy-list">
      <li (click)="viewPolicy('policy1')" class="policy-item">Work from Home Policy</li>
      <li (click)="viewPolicy('policy2')" class="policy-item">Leave Policy</li>
      <li (click)="viewPolicy('policy3')" class="policy-item">Health Insurance Policy</li>
      <li (click)="viewPolicy('policy4')" class="policy-item">Code of Conduct</li>
      <li (click)="viewPolicy('policy5')" class="policy-item">Data Privacy Policy</li>
    </ul>
  </div>
  